.pintastic-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 40px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: var(--yellow);
    border: 2px solid var(--light-yellow);
    border-radius: 12px;
    font-weight: 700;
    line-height: 22px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    color: var(--white);
  }
  
  .pintastic-button:hover {
    cursor: pointer;
    background-color: var(--light-yellow);
    border-color: var(--yellow);
    animation: swing 0.5s ease-in-out;
    transform-origin: center;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  