/* Header CSS */
.header {
  width: 100vw;
  height: 80px;
  background-color: var(--yellow);

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 70px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: var(--font-lg);
  cursor: pointer;
}

.header .logo img {
  width: 36px;
  height: auto;
}

.header .logo p {
  color: var(--white);
}

.header .logo p span {
  color: var(--black);
}
/* End of Header CSS */
