<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="author"
			content="11796451 - Pedro Kenzo Muramatsu Carmo, 11965630- Ana Cristina Silva de Oliveira, 112081537 -  André Santana Fernandes"
		/>
		<meta
			name="description"
			content="Pintastic - Make a statement. Pin by pin"
		/>
		<meta name="keywords" content="pin buttons, cool, Pintastic" />
		<title>Button Template</title>
		<link href="../global.css" rel="stylesheet" />
		<script
			src="https://kit.fontawesome.com/bace2651a9.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<!-- use this as the template for the button  -->
		<button class="pintastic-button" type="submit">
			<span> Click me! </span>
			<i class="fa-solid fa-chevron-right"></i>
		</button>

        <!-- End of template -->
	</body>
</html>
