<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="author"
			content="11796451 - Pedro Kenzo Muramatsu Carmo, 11965630- Ana Cristina Silva de Oliveira, 112081537 -  André Santana Fernandes"
		/>
		<meta
			name="description"
			content="Pintastic - Make a statement. Pin by pin"
		/>
		<meta name="keywords" content="pin buttons, cool, Pintastic" />
		<title>Footer Template</title>
		<link href="global.css" rel="stylesheet" />
		<script
			src="https://kit.fontawesome.com/bace2651a9.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<!-- use this as the template for the Footer  -->

		<footer>
			<div class="footer-main">
				<div class="footer-left">
					<div class="footer-column">
						<h4>Social Media</h4>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">YouTube</a></li>
							<li><a href="#">LinkedIn</a></li>
						</ul>
					</div>
					<div class="footer-column">
						<h4>Contact</h4>
						<ul>
							<li><a href="#">Talk to Us</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
					<div class="footer-column">
						<h4>Pintastic</h4>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Address</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-right">
					<div class="payment-icons">
						<img src="visa.png" alt="Visa" />
						<img src="mastercard.png" alt="Mastercard" />
						<img src="paypal.png" alt="PayPal" />
						<img src="apple-pay.png" alt="Apple Pay" />
					</div>
				</div>
			</div>
			<div class="footer-under">
				<div class="footer-logo">
					<img src="logo.png" alt="Logo" />
				</div>
			</div>
		</footer>

		<!-- end of template  -->
	</body>
</html>
