<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>
		<link href="global.css" rel="stylesheet" />
		<link href="header.style.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="logo">
				<img
					src="../img/pintastic-logo.png"
					id="img-logotipo"
					class="logotipo"
					alt="Logo"
				/>
			</div>
			<div class="search-bar">
				<select name="filter">
					<option value="all">All</option>
					<option value="pins">Pins</option>
					<option value="stickers">Stickers</option>
				</select>
				<input type="text" placeholder="Search..." />
			</div>
			<div class="user-icons">
				<a href="#"><i class="fa fa-shopping-cart"></i></a>
				<a href="#"><i class="fa fa-user"></i></a>
			</div>
		</header>
	</body>
</html>
