<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="author"
			content="11796451 - Pedro Kenzo Muramatsu Carmo, 11965630- Ana Cristina Silva de Oliveira, 112081537 -  André Santana Fernandes"
		/>
		<meta
			name="description"
			content="Pintastic - Make a statement. Pin by pin"
		/>
		<meta name="keywords" content="pin buttons, cool, Pintastic" />
		<title>Header</title>
		<link href="../global.css" rel="stylesheet" />
		<script
			src="https://kit.fontawesome.com/bace2651a9.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="logo">
					<img
						src="../img/pintastic-logo.png"
						id="img-logotipo"
						class="logotipo"
						alt="Logo"
					/>
				</div>
				<div class="search-bar">
					<div class="search">
						<select name="filter">
							<option value="all">All</option>
							<option value="pins">Pins</option>
							<option value="stickers">Stickers</option>
						</select>
						<input type="text" placeholder="Search..." />
						<button><i class="fa fa-search"></i></button>
					</div>
				</div>
				<div class="user-icons">
					<div>
						<a href="#"
							><i title="View cart" class="fa fa-user"></i
						></a>
						<a href="#"
							><i
								title="View profile"
								class="fa fa-shopping-cart"
							></i
						></a>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
