<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="author"
			content="11796451 - Pedro Kenzo Muramatsu Carmo, 11965630- Ana Cristina Silva de Oliveira, 112081537 -  André Santana Fernandes"
		/>
		<meta
			name="description"
			content="Pintastic - Make a statement. Pin by pin"
		/>
		<meta name="keywords" content="pin buttons, cool, Pintastic" />
		<title>Item Card Template</title>
		<link href="../global.css" rel="stylesheet" />
		<script
			src="https://kit.fontawesome.com/bace2651a9.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<!-- use this as the template for the Item Card  -->
		<div class="item-card-container">
			<div class="item-card-img">
				<div class="discount-pill">10% OFF</div>
			</div>
			<div class="item-card-details">
				<div>
					<h4 id="item-title">Product Title</h4>
					<span id="item-description">Space for a small product description</span>
				</div>
				
				<div id="item-card-bottom">
					<span id="item-price">R$ 13.48 </span>
					<button class="pintastic-button" type="submit">
						<span> Buy Now ! </span>
					</button>
				</div>
			</div>
		</div>
		<!-- end of template  -->
	</body>
</html>
