.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 45px;
	gap: 39px;
	width: 1850px;
	height: 50px;
	bottom: 100px;
	margin-top: 150px;
	background: var(--yellow);
	border-radius: 0px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
