#admin-home-page {
    width: 100%;
}

#admin-home-page a {
    text-decoration: none;
    color: inherit;
}

#admin-home-page hr {
    border: 1px solid var(--lightest-gray);
}

#admin-home-page .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#admin-home-page .content-header h1 {
    font-size: var(--font-xl);
}

#admin-home-page .content-header button {
    background-color: var(--yellow);
    border: none;
    padding: 10px 20px;
    color: var(--white);
    font-family: 'Poppins';
    border-radius: 5px;
    cursor: pointer;
    transition: filter .2s;
}

#admin-home-page .content-header button:hover {
    filter: brightness(90%);
}

/* Status CSS */
#admin-home-page .status {
    padding: 5px;
    border: 1px solid;
    border-radius: 50px;
}

#admin-home-page .status.active {
    border-color: var(--green);
    color: var(--green);
}

#admin-home-page .status.active:before {
    content: "Ativo";
}

#admin-home-page .status.inactive {
    border-color: var(--yellow);
    color: var(--yellow);
}

#admin-home-page .status.inactive:before {
    content: "Inativo";
}
