@import './components/admin/datatable.styles.css';
@import './components/admin/header.styles.css';
@import './components/admin/sidebar.styles.css';

/* PintasticAdmin - Product Management Styles */
a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px solid var(--lightest-gray);
}

.wrapper {
  display: flex;
}

/* Main CSS */
.wrapper main {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.wrapper main .content {
  width: 1070px;
}

.content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .content-header h1 {
  font-size: var(--font-xl);
}

.content .content-header button {
  background-color: var(--yellow);
  border: none;
  padding: 10px 20px;
  color: var(--white);
  font-family: 'Poppins';
  border-radius: 5px;
  cursor: pointer;
  transition: filter .2s;
}

.content .content-header button:hover {
  filter: brightness(90%);
}
/* End of Main CSS */

/* Status CSS */
.status {
  padding: 5px;
  border: 1px solid;
  border-radius: 50px;
}

.status.active {
  border-color: var(--green);
  color: var(--green);
}

.status.active:before {
  content: "Ativo";
}

.status.inactive {
  border-color: var(--yellow);
  color: var(--yellow);
}

.status.inactive:before {
  content: "Inativo";
}
/* End of Status CSS */
