@import './components/admin/datatable.styles.css';

/* PintasticAdmin - Product Management Styles */
a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px solid var(--lightest-gray);
}

/* Header CSS */
.header {
  width: 100vw;
  height: 80px;
  background-color: var(--yellow);

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 70px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: var(--font-lg);
  cursor: pointer;
}

.header .logo img {
  width: 36px;
  height: auto;
}

.header .logo p {
  color: var(--white);
}

.header .logo p span {
  color: var(--black);
}
/* End of Header CSS */

.wrapper {
  display: flex;
}

/* Sidebar CSS */
.wrapper .sidebar {
  min-width: 250px;
  height: calc(100vh - 80px);
  background-color: var(--lightest-gray);

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
}

.wrapper .sidebar .navigation-buttons {
  width: 100%;
}

.wrapper .sidebar .navigation-buttons li {
  font-size: var(--font-sm);
  
  padding: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s;
}

.wrapper .sidebar .navigation-buttons li:hover {
  background-color: var(--lighter-gray);
}
/* End of Sidebar CSS */

/* Main CSS */
.wrapper main {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.wrapper main .content {
  width: 1070px;
}

.content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .content-header h1 {
  font-size: var(--font-xl);
}

.content .content-header button {
  background-color: var(--yellow);
  border: none;
  padding: 10px 20px;
  color: var(--white);
  font-family: 'Poppins';
  border-radius: 5px;
  cursor: pointer;
  transition: filter .2s;
}

.content .content-header button:hover {
  filter: brightness(90%);
}
/* End of Main CSS */

/* Status CSS */
.status {
  padding: 5px;
  border: 1px solid;
  border-radius: 50px;
}

.status.active {
  border-color: var(--green);
  color: var(--green);
}

.status.active:before {
  content: "Ativo";
}

.status.inactive {
  border-color: var(--yellow);
  color: var(--yellow);
}

.status.inactive:before {
  content: "Inativo";
}
/* End of Status CSS */
