.text-cart h2 {
	position: absolute;
	width: 117px;
	height: 39px;
	left: 500px;
	top: 300px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 39px;
	color: #151515;
}

.pin-img-cart {
	/* width: 100px; */
	height: 100px;
	/* background: url(pin-cafezinho.png); */
	flex: none;
	order: 0;
    margin-top: 380px;
    margin-left: 520px;
	flex-grow: 0;
}

.pin-characteristics h3{
    width: 251px;
    height: 23px;
    
    /* S5/Default */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* C1/A */
    
    color: #151515;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}