.text-cart h2 {
    position: absolute;
    width: 117px;
    height: 39px;
 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #151515;
}

.pin-img-cart {
    height: 120px;
    flex: none;
    order: 0;
 
    flex-grow: 0;
}

#pin-title {
    position: absolute;
    width: 251px;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #151515;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#pin-category {
    position: absolute;
    height: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.pin-cart {
    background-color: red;
}

.ic-cart {
    width: 18px;
    height: 18px;
    margin-left: 500px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pin-characteristics {
    display: flex;
    background-color: red;
}

.pin-characteristics p {
    height: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
    flex-grow: 0;    
}

.cart-remove-section span {
    color: black;
}