/* components' styling */
@import 'components/footer.style.css';
@import 'components/header.style.css';
@import 'components/nav.style.css';
@import 'components/button.style.css';

/* end components' styling */

/* Utils */
@import 'utils/reset.css';
@import 'utils/fonts.css';
/* End Utils */

@media screen and (max-width: 1200px) {
	/* .card-buy {
		flex-direction: column;
		flex-wrap: nowrap;
	} */
}

/* background colors  */

:root {
	--black: #000000;
	--black2: #151515;
	--yellow: #f2bf18;
	--light-yellow: #f9df8c;
	--white: #ffffff;
	--lighter-gray: #d1d1d1;
	--light-gray: #a9a9a9;
	--lightest-gray: #F9F9F9;
	--gray: #575757; 

	--red: #c5330b;
	--green: #2dbc44;

	--font-xs: 12px;
	--font-sm: 14px;
	--font-md: 16px;
	--font-lg: 18px;
	--font-xl: 20px;
}

.background-yellow {
	background-color: var(--yellow);
}

.background-white {
	background-color: var(--white);
}

.background-gray {
	background-color: var(--gray);
}

.background-red {
	background-color: var(--red);
}

.background-green {
	background-color: var(--green);
}

/* end background colors */

/* General CSS */
body {
	background-color: var(--white);
	margin: 0;
	font-family: 'Poppins';
}

/* End of General CSS */
