.landing-hero {
	background-image: url('img/hero-image.png');
	background-size: cover;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.section-title {
	padding: 20px;
	font-size: var(--font-lg);
}

.hero-text {
	text-align: center;
	color: white;
}

.hero-text h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 25px;
}

#landing-highlighted {
	margin-bottom: 4rem;
}

#highlighted-options {
	width: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
}

#highlighted-options ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#highlighted-options li {
	margin-bottom: 10px;
}

#highlighted-options li a {
	color: var(--yellow);
	font-size: var(--font-sm);
	margin-bottom: 3rem;
	text-decoration: none;
}

#highlighted-options li a:hover {
	background-color: #ddd;
}

#highlighted-items {
	
}

#highlighted-content {
	display: flex;
	flex-direction: row;
}

#highlighted-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

#landing-testimonials {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-top: 60px;
}

#testimonials-content {
	width: 100%;
	display: flex;
	justify-content: center;
}

.testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid #d1d1d1;
	margin: 1rem;
}

.testimonial-content {
	margin-bottom: 30px;
}

.testimonial-text {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
	text-align: center;
}

.testimonial-author {
	font-size: 16px;
	text-align: right;
}

.testimonial-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}

.testimonial-avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
