#pinoftheday-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pinoftheday-container {
	max-width: 800px;
	width: 90%;
	margin: 2rem auto;
	border: 2px solid #d1d1d1;
	border-radius: 12px;
	padding: 1rem;
	text-align: center;
}

.pinoftheday-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.pinoftheday-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pinoftheday-image {
	width: 250px;
}

.pinoftheday-image img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.pinoftheday-info {
	width: 50%;
}

.pinoftheday-product-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.pinoftheday-rating {
	margin-bottom: 0.5rem;
}

.pinoftheday-description {
	font-size: 14px;
	color: #666;
	margin-bottom: 1rem;
}

.pinoftheday-price {
	margin-bottom: 1rem;
}

.pinoftheday-discount {
	color: red;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.pinoftheday-original-price {
	text-decoration: line-through;
	color: #666;
	margin-right: 0.5rem;
}

.pinoftheday-sale-price {
	font-size: 24px;
	font-weight: bold;
}

.pinoftheday-container .button {
	margin-top: 1rem;
}

.pinoftheday-addcart-button {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
