.input-group {
    width: 100%;
}

.input-group label {
	display: block;
	margin-bottom: 5px;
	font-size: var(--font-sm);
}

.input-group input {
    box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
